<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Anomedia - A Wikipedia for Anime</title>
  {{ css('src/materialize.min.css') }}

</head>
<body>
  <section>
    <header>
      <h1>Welcome to Anomedia</h1>
    </header>
    {{--  start content  --}}
    @!section('content')
    {{--  end content  --}}
    <footer>
      @!section('footer')
    </footer>
  </section>
  {{ script('src/main') }}
</body>
</html>